<ion-navbar *navbar>
  <ion-title>sign in</ion-title>
</ion-navbar>

<ion-content class="sign-in">

  <form #signin="ngForm" *ngIf="active" > 
		<ion-list>
			<ion-item>
				<ion-input type="email" placeholder="email" required [(ngModel)]="login.email" validate-email ngControl="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="password" placeholder="password" required [(ngModel)]="login.password" ngControl="password"></ion-input>
			</ion-item>
		</ion-list>
		<div style="text-align:center;" padding>
      <p *ngIf="displayErrorText && signin.form.pristine" danger> {{displayErrorText}} </p>
			<button round type="submit" block (click)="signIn()" [disabled]="!signin.form.valid">sign in</button>
		</div>
	</form>
	
  
</ion-content>
